body {
    background-color: white;
    font-family: Fira Mono, monospace;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: white;
    }
    a {
    color: white !important;
    }
}
    
span {
    font-size: 72px;
}

p {
    width: 40%;
}
a {
    text-decoration: none;
    color: black;
}

p > a:hover {
  text-decoration: underline;
}